<div id="background">
	<header class="cf">
		<div class="wrapper">
			<a href="#" id="logo">Appudate. Podcast</a>
			<nav>
				<ul>
					<% unless podcast_signed_in? %>
						<li><a href="#">Explore</a></li>
						<li><%= link_to "Sign In", new_podcast_session_path %></li>
						<li><%= link_to "Create a Podcast", new_podcast_registration_path %></li>
					<% else %>
						<li><a href="#">Dashboard</a></li>
						<li><a href="#">Explore</a></li>
						<li>
							<%= link_to "Sign Out", destroy_podcast_session_path, method: :delete, data: {confirm: "Are you sure you want to sign out?"} %>
						</li>
					<% end %>
				</ul>
			</nav>
		</div>
	</header>
	<div class="wrapper_wide">
		<h1>AppuDate, We Discover, Develop and Deliver<br> Application Software</h1>
		<%= link_to "Create a Podcast",new_podcast_registration_path, class: "button button_highlight" %>
		<!-- <a href="#" class="button button_highlight">Create a Podcast</a> -->
		<a href="#" class="button button_white">Exlpore</a>
	</div>
</div>